/* @tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root{
  --baseGround: #E2D7C3;
  --baseComponent: #005f75;
}

*{
  padding: 0;
  margin: 0;
  color: #005f75;
}

body {
  background: #e2d7c3ae;
}

header{
  position: sticky;
  top: 0;
}

@media (max-width=600px){
}